<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Comments</title>
    <link rel="stylesheet" type="text/css" href="TestApp/show_comments.css">
</head>
<body>
    {% for comment in comments %}
        <div class="comment-container" style="padding: 10px;">
          <p class="comment-header">
            Comment by {{ comment.author }}
            <span class="comment-date">
              on {{ comment.postDate }}
            </span>
          </p>
          {{ comment.body | linebreaks }}
        </div>
        {% endfor %}
    <a href="/"><button>Post a comment</button></a>
</body>
</html>