<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Comments</title>
</head>
<body>
    {% for comment in comments %}
        <div class="comments" style="padding: 10px;">
          <p class="font-weight-bold">
            Comment by {{ comment.author }}
            <span class=" text-muted font-weight-normal">
              on {{ comment.postDate }}
            </span>
          </p>
          {{ comment.body | linebreaks }}
        </div>
        {% endfor %}
</body>
</html>